.wrapper {
    position: sticky;
    bottom: 0;

    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    min-height: 0;

    height: fit-content;

    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-weight: 600;
}