.header {
	height: 4rem;
	border: 1px solid white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.open-modal-button {
	width: fit-content;
	height: 60%;
	background: transparent;
	cursor: pointer;
}
