.password-strength-indicator {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.password-strength-indicator-row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.indicator {
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
}

.indicator-green {
	background: green;
}

.indicator-red {
	background: red;
}
